{% extends 'home.html.twig' %}

{% block error %}
    <div class="container mt-3">
        <h4 class="text-center mt-3">{{ errors }}</h4>
        <h5 class="text-center mt-3">Click <a href="/games/{{slug}}/ticket">here</a> to pick combination</h5>
    </div>
{% endblock %}