{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #E0E0E0; padding: 2px 6px; }
    body {
       height: 100vh; 
    }
    .submit {
        width: 120px !important;
        text-align: center;
    }
    .contain-center {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

</style>

    <div class="contain-center">
        <form  class="rounded d-flex justify-content-center flex-column align-self-center p-4 bg-light w-25 h-50" action="{{ path('app_login') }}" method="post">
            <label class="m-1" for="username">Email:</label>
            <input class="m-1" type="text" id="username" name="_username" value="{{ last_username }}"/>

            <label class="m-1" for="password">Password:</label>
            <input class="m-1" type="password" id="password" name="_password"/>

            <input class="m-1" type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"/> #}
            {% if error %}
                <div class="contain-center text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="contain-center">
                <button class="d-flex justify-content-center
                m-3 btn btn-primary submit" type="submit">login</button>
            </div>
        </form>
    </div>
{% endblock %}
