{% extends 'home.html.twig' %}

{% block games %}
        <div class="container border border-dark bg-light" style="height: 200px; border-top: 10px solid darkgray !important;">
           <div class="row align-items-start border-start-0 border-end-0 border-dark h-50">
                <div class="col border border-start-0 border border-dark h-100">
                    <h1 class="fs-1">Loto</h1>
                    <a href="/games/Loto/ticket">Buy ticket</a>
                </div>
                <div class="col border border-dark h-100 border-end-0">
                    <h1 class="fs-1">DhiLoto</h1>
                    <a href="/games/DhiLoto/ticket">Buy ticket</a>
                </div>
           </div>
           <div class="row align-items-start border-start-0 border-end-0 border-dark h-50">
                <div class="col border border-start-0 border border-dark h-100">
                    <h1 class="fs-1">EuroJackpot</h1>
                    <a href="/games/EuroJackpot/ticket">Buy ticket</a>
                </div>
           </div>
        </div>
{% endblock %}